{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'app/css/login.css' %}"/>


<div class="login-page">
  <div class="form">
    <form class="register-form" method="post">
      {% csrf_token %}
<!--       <input type="text" placeholder="name"/>
      <input type="text" placeholder="email address"/>
        <input type="password" placeholder="password"/>
        <input type="password_retype" placeholder="retype password"/> -->
        
      {% for field in form %}
        <p>

          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
      <p class="message">Already registered? <a href="/login/">Sign In</a></p>
    </form>
  </div>
</div>
{% endblock %}